executor.perJobMemLimit = true
condaEnv="$HOME/miniconda3/envs/orthology_env/"

profiles {

    farm {
	process {
		executor = 'lsf'
		memory = '5GB'
		queue = 'normal'
		cpus = 1

		withName: 'align_fastas|trim_alignments' {
                conda = "$condaEnv"
				queue = 'small'
                memory = '500.MB'
            }
		
		withName: infer_gene_trees {
                conda = "$condaEnv"
				cpus = 2
            }
		
		withName: 'infer_supermatrix_tree|estimate_astral_BLs' {
                conda = "$condaEnv"
				queue = 'long'
				cpus = 16
            }
		}
	}

}
